.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.input {
    margin-top: 10px;
}