.form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.button {
    margin-top: 10px;
}